services:
  kafka-producer:
   build:
    context: ../spring-kafka-producer
    dockerfile: Dockerfile
   container_name: kafka_producer
   ports:
     - 8091:8091
   networks:
    - kafkanet
  
  kafka-consumer:
   build:
    context: ../spring-kafka-consumer
    dockerfile: Dockerfile
   container_name: kafka_consumer
   ports:
     - 8092:8092
   networks:
    - kafkanet

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - kafkanet

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    ports:
      - "9092:9092"
      - "9094:9094"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:9094
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper
    networks:
      - kafkanet
networks:
  kafkanet: 	

